{
  "presets": ["next/babel"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "less"
      }
    ]
  ]
}
