.nav-main {
    position: absolute;
    top:0;
    left: 0;
    height: 100px;
    width: 100%;
    background: url(../images/header.jpg) no-repeat;
    background-size: 100% 100px;
    z-index: 999;
}